<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retail.mapper.UserStoreAuthMapper">

    <select id="selectByUserId" resultType="map">
        SELECT
            a.id,
            a.user_id AS userId,
            a.store_id AS storeId,
            s.name AS storeName,
            a.create_time AS createTime
        FROM t_user_store_auth a
        LEFT JOIN t_store s ON s.id = a.store_id AND s.status = 1
        WHERE a.user_id = #{userId}
        ORDER BY a.create_time DESC
    </select>

    <delete id="deleteByUserId">
        DELETE FROM t_user_store_auth WHERE user_id = #{userId}
    </delete>

    <select id="selectUserIdsByStoreId" resultType="long">
        SELECT DISTINCT user_id FROM t_user_store_auth WHERE store_id = #{storeId}
    </select>

</mapper>
